html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: url('../images/blue-grey.jpg');
  background-attachment: fixed;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

#particles canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rounded {
  border-radius: 8px;
  overflow: hidden;
}

#hero {
  margin-top: 64px;
  margin-bottom: 64px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 48px;
  line-height: 48px;
}

.person {
  margin: 16px;
  height: 250px;
}
.person .person-image img {
  border-radius: 100%;
  width: 128px;
  height: 128px;
}

.person .person-name {
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.person .person-position {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.divider.padded {
  margin-top: 48px;
  margin-bottom: 36px;
}

.screenshot {
  display: inline;
}

.screenshot img {
  max-width: 200px;
  margin: 2px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.material-placeholder,
.materialboxed {
  display: inline;
}

.feature {
  padding: 16px !important;
  border-radius: 8px;
}

.padded-x {
  padding-left: 48px;
  padding-right: 48px;
}

.page-footer {
  padding-top: initial;
}

.dotted-ul {
  text-decoration: underline currentColor;
  text-decoration-style: dashed;
}

.full-width {
  width: 100% !important;
}

#devicesmodal .header {
  margin: 0;
}

.device .card-panel {
  transition: all 0.5s ease-in-out;
}

.device .card-panel:hover{
  background: #263238;
  color: white;
}

.devices {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 16px;
  padding-bottom: 16px;
}

.devices::-webkit-scrollbar {
  display: none;
}

.device {
  /* width: 190px; */
  display: inline-block;
  margin-right: 32px;
}

.device .card-panel {
  margin: 0;
}

.device-maintainer {
  margin: 0;
}